* {
    box-sizing: border-box;
}
body {
    background:
    linear-gradient(
        to bottom left,
        rgb(231, 229, 229),
        rgb(27, 27, 27)
    );
    padding-top: 100px;
    min-height: 100vh;
}
.nav-item {
    border-left: 1px solid white;
}
.nav-link {
    font-family: 'Overpass', sans-serif;
}
#page-container {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
.nav-item:first-child {
    border-left: 0 none;
}
a:hover {
    color: rgb(158, 5, 5)!important;
}
.portrait-column {
    margin-top: -20px;
}
.portrait-column h2 {
    font-family: 'Overpass', sans-serif;
    color: rgb(177, 174, 174);
}
#portrait {
    width: 275px;
    border: 3px solid rgb(158, 5, 5);
    border-radius: 100%;
}
#dictionary h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vw;
}
#dictionary {
    border: 1px solid black;
    background-color: rgb(233, 233, 221)
}
#dictionary ol {
    padding-left: 15px;
}
#dictionary li {
    font-size: 1.3vw;
    padding-left: 5px;
    font-family: 'Special Elite', cursive;
}
#dictionary h6 {
    font-size: 1.5vw;
    color: rgb(158, 5, 5);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.navbar {
    background: rgb(31, 30, 30);
}
.navbar-brand {
    font-size: 3.8vw;
    color: white;
    font-family: 'Lobster', cursive;
}
.nav-link {
    color: white;
}
#about-me h2 {
    font-size: 2vw;
    color: white;
}
#technologies {
    border-top: 1px solid white;
}
.tech-icon img {
    height: 35px;
}
#technologies .tech-icon img:hover {
    height: 42px;
}
#footer {
    background: rgb(12, 12, 12);
    position: fixed;
    bottom: 0;
    height: 11vh;
    width: 100%;
}
.info-icons i {
    font-size: 3.5vw;
    color: white;
    margin: 10px 20px;
}
.page-title h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 34px; 
    text-decoration: underline;
}
.card {
    box-shadow: 5px 10px 8px rgb(36, 35, 35);
}
.screenshot {
    height: 220px;
    border-bottom: 2px solid rgb(139, 139, 139);
}
.project-description {
    height: 220px;
}
.tech-used {
    border-top: 1px solid rgb(196, 192, 192);
    border-bottom: 1px solid rgb(196, 192, 192);
}
.tech-used img {
    height: 35px;
}
#contact-container {
    padding-top: 50px;
}
.contact-info {
    box-shadow: 5px 10px 8px rgb(36, 35, 35);
}
.contact-info p {
    font-size: 20px;
    line-height: 4vh;
}
.contact-info i {
    font-size: 30px;
    line-height: 4vh;
    vertical-align: middle;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    html {
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
    body {
        padding-top: 50px;
        min-height: 100vh;
        min-height: -webkit-fill-available;
    }
 #page-container {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding-top: 20px;
 }
    #my-name {
        font-size: 7vw;
    }
    #about-me {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 30px;
    }
    #portrait {
        width: 50%;
        margin-top: 25px;
    }
    #dictionary {
        width: 85vw;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    #dictionary h1 {
        font-size: 5.2vw;
    }
    #dictionary h6,
    #dictionary li {
        font-size: 3.2vw;
    }
    .screenshot {
        height: 250px;
    }
    .project-card {
        margin-bottom: 20px;
    }
    #footer {
        height: 6vh;
    }
    #footer i {
        font-size: 6vw;
    }
    .nav-item {
        border-left: none;
    }
    .navbar {
        width: 100%;
    }
    #about-me h2 {
        font-size: 4vw;
    }
    .tech-icon img {
        height: 35px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    #page-container {
        min-height: 90vh;
    }
    #my-name {
        font-size: 7vw;
    }
    #dictionary {
        width: 60vw;
        margin-top: 20px;
    }
    #dictionary h1 {
        font-size: 5.2vw;
    }
    #dictionary h6,
    #dictionary li {
        font-size: 2.2vw;
    }
    #technologies {
        width: 80vw;
        margin: 0 auto;
    }
    #technologies .tech-icon img {
        height: 45px;
    }
    .screenshot {
        height: 150px;
    }
    .project-description {
        height: 170px;
    }
    .desc-text {
        max-height: 160px;
        font-size: .75rem;
        padding: 10px
    }
    .tech-used {
        padding: 8px;
        margin-top: 20px;
    }
    .tech-used .tech-icon img {
        height: 25px;
    }
    .card-footer {
        font-size: .9rem;
        padding: 8px;
    }
    #footer {
        height: 6vh;
        }
    #footer i {
        font-size: 5vw;
    }
    #about-me h2 {
        font-size: 4vw;
    }
}
